black
django==3.2.18
django-bootstrap5
django-bulma
django-cors-headers
django-environ
django-import-export
django-htmx
django-filter
django-phonenumber-field[phonenumbers]
django-phonenumbers
django-rest-knox
django-tables2
django-tables2-bulma-template
djangorestframework
djlint
drf-standardized-errors
httpie
pylint-django
PyMySQL
uritemplate
